[Unit]
Description=x-ui Service
After=network.target
Wants=network.target

[Service]
Type=simple
WorkingDirectory=/usr/local/x-ui-20241008/
ExecStart=/usr/local/x-ui-20241008

[Install]
WantedBy=multi-user.target
